p {
    font-family: "Trebuchet MS", sans-serif;
}

h3 {
    font-family: "Trebuchet MS", sans-serif;
}

.hidden {
    display: none;
}

#dialogue {
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: min(900px, 90vw);
    height: min(900px, 90vh);
    box-sizing: border-box;
    white-space: pre-line;

    padding: 30px;

    background: white;
    border: 2px solid #e0dcdc;
    border-radius: 20px;

    font-family: "Trebuchet MS", sans-serif;
    font-size: min(16px, 2vw, 2vh);
    line-height: 1.6;
    color: #333;

    /* box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12); */

    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;

    overflow: hidden;
}

#dialogue.visible {
    display: flex;
}

#dialogue p {
    margin: 4px 0;
}